// ----------------------------------------------------------------------------
// Mixins
// ----------------------------------------------------------------------------
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

// ----------------------------------------------------------------------------
// Widget-status styles
// ----------------------------------------------------------------------------
.widget-hot-status-extra {

    background-color: #000;
    @include transition(background-color, 1s, linear);

    .title {
        color: rgba(255, 255, 255, 0.8);
        font-size: 40px;
        margin-bottom: 5px;
    }
    .subtitle {
        font-weight: normal;
        text-transform: none;
        color: rgba(255, 255, 255, 0.8);
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 0;
    }

    .status {
        color: #fff;
        font-size: 40px;
    }

    .message {
        color: #fff;
        font-size: 90px;
        line-height: 1em;
        margin-bottom: 30px;
    }

    .updated-at {
        color: rgba(0, 0, 0, 0.3);
    }

}

.hot-status-ok { background-color: #00C176; }
.hot-status-warning { background-color: #FABE28; }
.hot-status-critical { background-color: #FF003C; }
.hot-status-unknown { background-color: #FF003C; }
